/* 1. Mobile styles*/
body{
    background: lightblue;
}
img {
    max-width: 100%;
}

.smallkitten {display: block;}
.largekitten {display: none;}

.gameslist li {
    list-style: none;
    border-bottom: solid olivedrab;
    padding: 10px;
}

/* 2. Adding a media-query for 480px and above */

@media screen and (min-width: 480px) {
    .smallkitten {display: none;}
    .largekitten {display: block;}
    
}

/* 3. Adding a media-query for 800px and above */
@media screen and (min-width: 800px) {
    .gameslist li{
        float: left;
        border-right: solid red;
        border-bottom: none;
    }
}

/* 4. Adding a media-query for screen size between 900px and 1200px */
@media screen and (min-width: 900px) and (max-width: 1200px){
    h1{
        font-size: 4rem;
    }
}

/* 5. Adding a media-query for 1200px and above */
@media screen and (min-width: 1200px){
    h1{
        font-size: 6rem;
    }
}
