body{
    margin: 50px;
}
/*Image*/
.container{
    width: 500px;
    margin: 0 auto;
}
.crop{
    width: 150px;
    height: 160px;
    object-fit: cover;
}
img{
    width: 200px; 
    height: 150px;
    float: left;
    margin: 20px;
}

