html{
    font-family: Arial, Helvetica, sans-serif;
    background: lightsteelblue;
}

h2, h3, article, section, ul, a{
    margin-left: 20px;
}

.box{
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    background: lightslategray;
}

a{
    display: inline;
    text-decoration: none;
}

/*Image at the top*/
.imgcontainer{
    position: relative;
    text-align:center;
    color:darkred;
    margin-top: 0%;
    width: 100%;
}

.title{
    position: absolute;
    top: 50%;
}

.image1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 100%;
}



/*Float*/
img{
    width: 200px;
    float: left;
    margin: 20px;
}

/*To clear*/
.facts{
    clear: left;
}

ul{
    font-size: 17px;
    clear: left;
}

/*Form*/
/*form{

}*/