/*target body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* Multiple Elements*/
header,footer{
    background-color: violet;
}

/* Class Selector*/
.site-title{
    color: blue;
}

/* ID Selector for my-image*/
#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

/* nth child selector*/
li:nth-child(odd) {
    background: pink;
}

/* Remove underline and add border and backgorund*/
a:link {
    text-decoration: none;
    border-style:double;
    background-color:lightskyblue;
}

/* Change colour of background on hover*/
a:hover {
    background-color:mediumseagreen;
    color: black;
}
