/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=================================================================================================================================================
===================================================================================================================================================
=========================================================== END OF CSS RESET=======================================================================
===================================================================================================================================================
===================================================================================================================================================*/


body{
        font-family: 'Open Sans', sans-serif;
        background: #ffff;
        width: 100%;
        margin: 0 auto;
    }
/*---------START OF STYLE-----------*/
    
/*==============================================================================================================================
=================================================== mobile styles ==============================================================
================================================================================================================================*/
    
    header, main, footer{
        width: 100%;
        margin: 0 auto;
    }

  
    h2{
        font-weight: bold;
        font-size: 48px;
        margin: 14px;    
    }
    
    h3{
        font-weight: bold;
        font-size: 30px;
        padding-top: 14px;
        padding-bottom: 12px;
    }

    h4{
        border-bottom: solid #c78c06 2px;
        font-weight: bolder;
        margin-bottom: 12px;
    }

    p{
        padding-bottom: 14px;
        line-height: 20px;
    }

    .all-container{
        width: 100%;
    }

    
    .container{
        background: #222;
        display: block;
        width: 100%;
    }
/*======================================================Nav Bar stuff===========================================*/
    .logo {
        background: #c78c06;
        display: block;
    }

    ul li{
        text-decoration: none;
        text-align: center;
        display: block;
        color: #c78c06;
        font-size: 18px;
        font-style: normal;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 3%;
        padding-bottom: 2%;
    }

    .current {
        color: black;
        background: #c78c06;
        width: 100%;
        margin: 0;
    }

    .search-form{
        margin: 2%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .searchform-inpt{
        width: 90%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;   
        height: 34px;
    }

/*=======================================================WELCOME=================================================*/
    .welcome-button{
        border: none;
        background: #c78c06;
        width: 260px;
        height: 94px;
        font-size: 21px;
       }

    .intro-banner{
           width: 100%;
           position: relative;
       }

    
    .intro-banner-welcome{
        background:rgba(0, 0 , 0, 0.6);
        height: 400px;
        position: absolute;
        font-weight: bolder;
        color: #fff;
        font-family: 'Open Sans', sans-serif ;
        font-weight: normal;
        line-height: 21px;
        margin-top: 68px;
        margin-bottom: 68px;
        text-align: left;
        padding: 12px;
        padding-bottom: 0;
        padding-top: 40px;
    }

    .intro-banner-welcome p{
        font-size: 16px;
        line-height: 24px;
        padding-top: 12px ;
        padding-bottom: 12px;
    }

    .intro-banner-welcome-image{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .buttons{
        border: none;
        color: #fff;
        background: #222222;
        width: 100%;
        height: 92px;
        font-size: 21px; 
    }
    .intro-banner-welcome h1{
        font-weight: bold;
        font-size: 71px;
        line-height: 98px;
    }

    /*==================================================About Us===========================================*/
    .about-us-container{
        background: #ffe5ad;
    }

    .about-us-content{
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        padding: 14px;
    }
    .about-us-content p{
        font-size: 14px;
        line-height: 21px;
        margin: 14px;

    }

    .about-us-content p{
        padding: 0;
    }

    .about-us-content img{
        text-align: center;
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
    }

    /*========================================== Our Services ====================================*/

    .our-services{
        background: #ffff;
        margin: 14px;
    }

    .our-services h2{
        font-weight: bold;
        font-size: 48px;
        text-align: left;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    
    .all-padding{
        padding: 12px;
    }
   
    .our-services-digital{
        background: #ffe5ad;
        height: 728px;
        width: 100%;
        margin-top: 14px;
    }
    .our-services-digital-image{
        width: 100%;
        height: 452px;
    }

    .our-services-marketing{
        background: #ffe5ad;
        height: 728px;
        width: 100%;
        margin-top: 14px;
    }
    .our-services-marketing-image{
        width: 100%;
        height: 452px;

    }
    .our-services-video{
        background: #ffe5ad;
        height: 728px;
        width: 100%;
        margin-top: 14px;
    }

    .our-services-video-image{
        width: 100%;
        height: 452px;
    }

    .our-services-web-dev{
        background: #ffe5ad;
        height: 728px;
        width: 100%;
        margin: 14px;
    }
    .our-services-web-dev-image{
        width: 100%;
        height: 452px;
    }

    .our-services-print{
        background: #ffe5ad;
        height: 728px;
        width: 100%;
        margin-top: 14px;
    }

    .our-services-print-image{
        width: 100%;
        height: 452px;
    }
    .our-services button{
        border: none;
        color: #fff;
        background: #222222;
        height: 92px;
        width: 212px;
        font-size: 21px;
    }

    /*========================================== Our Vision ==============================================*/

    .our-vision h3{
        margin-top: 10px;
    }

    .our-vision-vision-image{
        width: 100%;
        height: 276px;
        object-fit: cover;
    }
    
    .our-vision-vision{
        position: absolute;
        color: #fff;
    }

    .our-vision-vision h3{
        font-weight: bold;
        font-size: 38px;
    }

    .our-vision button{
        border: solid 2px;
        border-color: #c78c06;
        color: #fff;
        background: #0d233b;
        width: 218px;
        height: 92px;
        font-size: 21px;
    }

    /*================================================= Our Team ===========================================*/
    .our-team h2{
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .our-team{
        background: #ffff;
        margin: 14px;
    }

    .our-team-members-john{
        background: #ffe5ad;
        width: 100%;
    }

    .our-team-members-bob{
        background: #ffe5ad;
        width: 100%;
        margin-top: 10px;
    }

    .our-team-members-bob img{
        width: 100%;
        height: 450px;
    }

    .our-team-members-john img{
        width: 100%;
    }

    /*================================================ CONTACT US =======================================================*/
    .contact-us{
        background: #ffff;
        margin: 14px ;
    }

    .contact-form-form{
        width: 100%;
    }
    .contact-us h2{
        padding: 0;
        margin-top: 5%;
        margin-left: 0;
    }
    .contact-form-fn input, .contact-form-email input{
        width: 100%;
    }

    .contactform-form input{
        margin-top: 2px;
        margin-bottom: 10px;
    }

    textarea{
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
    }
    .contact-form-send-button input{
        background: #222222;
        color: #c78c06;
        font-size: 14pt;
    }
/*=================== HOURS OF OPERATION==============*/
    .hours-operation-container {
        background: #ffff;
    }

    table{
        width: 100%;
        padding: 14px;
    }

    table, th, td {
        border: solid black 1px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        padding-bottom: 10px;
        padding-top: 15px;
        padding-left: 8px;
    }

    th{
        background: #ffe5ad;
    }
    
    /*======================== MAP ==========================*/
    iframe{
        margin: 0 auto;
        width: 100%;
    }
    /*=============================================== FOOTER =======================================*/
    footer{
        background: #222222;
        color: #c78c06;
        line-height: 30px;
        font-size: 9pt;
        margin: 0;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    footer p{
        margin: 0;
        padding-bottom: 0;
        padding-left: 1%;
    }

    footer a{
        color: #c78c06;
        padding-bottom: 0;
        margin: 0;
        
    }



/*==============================================================================================================================
=================================================== media screen 760px =========================================================
================================================================================================================================*/

@media screen and (min-width:760px) {
    .all-container{
        width: 706px;
    }

    header, main, footer {
        width: 706px;
    }

}

/*==============================================================================================================================
=================================================== media screen 1200px ========================================================
================================================================================================================================*/

@media screen and (min-width: 1200px) {
    
    .all-container{
        width: 1200px;
    }

    header, main, footer {
        width: 1200px;
        margin: 0 auto;
    }

    h1{
        font-size: 81px;
        line-height: 112px;
    }

    h2{
        font-weight: bold;
        font-size: 54px;
        margin: 14px;    
    }
    
    h3{
        font-weight: bold;
        font-size: 36px;
        
    }

    h4{
        border-bottom: solid #c78c06 2px;
        font-weight: bolder;
        margin-bottom: 12px;
    }

    p{
        padding-bottom: 14px;
        font-size: 16px;
        line-height: 24px;
    }
    /*======================NAV BAR STUFF =======================================*/
    .current{
        width: 125px;
        height: 50px;
        display: inline;
        color: #222;
        text-align:center;
    }
    .container{
        margin: 0 auto;
        width: 1200px;
        margin-bottom: 0;
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        height: 142px;
    }

   
   .logo{
       margin-left: 110px;
       margin-right: 55px;
   }
    
    ul li {
        text-decoration: none;
        display: inline;
        text-align: left;
        color: #c78c06;
        font-size: 18px;
        font-style: normal;
        margin-left: 30px;
        margin-right: 30px;
        display: inline;
    }



    .search-form{
        width: 186px;
        height: 40px;
        margin-right: 110px;
    }

    .search-form-button{
        display: inline;
    }


    /*========================WELCOME=================================*/
 
    .intro-banner{
        position: relative;
    }

    .intro-banner-welcome{
        background:rgba(0, 0 , 0, 0.6);
        width: 1000px;
        height: 400px;
        position: absolute;
        font-weight: bolder;
        color: #fff;
        font-family: 'Open Sans', sans-serif ;
        font-weight: normal;
        line-height: 21px;
        text-align: left;
        margin: auto;
    
        top: 30px;
        left: 70px;
        padding-top: 50px
    }

    .welcome-button{
        border: none;
        background: #c78c06;
        width: 292px;
        height: 108px;
        font-size: 21px;
        margin-bottom: 0;
        font-size: 24px;
        }

    .intro-banner-welcome-image{
        width: 1200px;
        height: 502px;
    }

    
    /*===================ABOUT=====================*/

    .about-us-container{
        background: #ffe5ad;
        
    }

    .about-us-content{
        text-align: left;
        font-family: 'Open Sans', sans-serif; 
        display: flex;   
        flex-direction: row;
        margin-left: 112px;
        margin-right: 112px;
        margin-bottom: 0;
       
    }


    .about-us-content img{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 500px;
        height: 310px;
    }
   

    /*===================OUR SERVICES=====================*/
    
    .our-services h2{
        margin-top: 40px;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    .our-services h3{
        font-size: 30px;
        padding-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }
    
    .our-services p{
       font-size: 12px;
       margin: 5px;
       line-height: 10px;
    }

    .our-services{
        width: 974px;
        height: 1350px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 120px 560px 550px;
        row-gap: 14px;
        column-gap: 14px;
        padding: 0;
    }

    .our-services .all-padding{
        padding: 5px;
    }

    .our-services p{
        font-size: 16px;
        line-height: 24px;
    }
    .our-services .our-services-title{
        grid-column: 1 / 13;
        grid-row: 1 / 1;
        height: 50px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .our-services .our-services-digital{
        grid-column: 1 / 7;
        grid-row: 2 / 2;
        height: 560px;
        margin: 0;
    }

    .our-services .our-services-marketing{
        grid-column: 7 / 13;
        grid-row: 2 / 2;
        height: 560px;
        margin: 0;
    }

    .our-services .our-services-video{
        grid-column: 1 / 5;
        grid-row: 3 / 3;
        width: 318px;
        height: 560px;
        margin: 0;
    }

    .our-services .our-services-web-dev{
        grid-column:  5 / 9;
        grid-row: 3 / 4;
        width: 318px;
        height: 560px;
        margin: 0;
    }

    .our-services .our-services-print{
        grid-column:  9 /13 ;
        grid-row: 3 / 4;
        width: 318px;
        height: 560px;
        margin: 0;
    }

    .our-services-marketing-image, .our-services-digital-image{
        width: 484px;
        height: 322px;
        margin: 0;
        margin-bottom: 0;
    }

    .our-services-video-image, .our-services-web-dev-image, .our-services-print-image{
        width: 318px ;
        height: 218px;
        margin: 0 auto;
    }
    .our-services-video button, .our-services-web-dev button, .our-services-print button{
        width:300px ;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    .our-services-digital button, .our-services .our-services-marketing button{
        width: 450px;
        height: 50px;
        margin-left: 10px;    
        text-align: center;
    }
    .our-services-video-image, .our-services-web-dev-image, .our-services-print-image {
        width: 318px ;
        height: 240px;
        margin: 0 auto;
    }

    /*=========================================== OUR VISION ===========================================================*/

    .our-vision-vision-image{
        width: 1200px;
        height: 256px;
        object-fit: cover;
    }
    
    .our-vision-vision{
        position: absolute;
        color: #fff;
        padding-left: 112px;
    }

    .our-vision button{
        border: solid 2px;
        border-color: #c78c06;
        color: #fff;
        background: #0d233b;
        width: 206px;
        height: 92px;
        font-size: 21px;
    }

    /*=========================================== OUR TEAM ===========================================================*/

    .our-team{
        width: 974px;
        height: 720px;
        margin: auto;
        padding-bottom: 60px;
    }

    
    .our-team-members-john{
        background: #ffe5ad;
        display: flex;
        margin: 0;
    }

    .our-team-members-bob{
        background: #ffe5ad;
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        padding-bottom: 0;
        
    }

    .our-team-members-bob img{
        width: 487px;
        height: 324px;
        margin: 0;

    }

    .our-team-members-john img{
        width: 487px;
        height: 324px;
        margin: 0;
    }

    /*=========================================== CONTACT STUFF ===========================================================*/

    .contact-us{
        width: 974px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px 480px 200px;

    }

    .contact-form h3{
        padding-top: 0 ;

    }
    .contact-us:nth-child(1){
        grid-column: 1 / 2 ;
        grid-row: 1 / 1;
    }

    .contact-form{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        width: 478px;
        margin: 9px;
    }

    .location-container{
        grid-column: 2 / 3;
        grid-row: 2 / 2 ;
    }

    .hours-operation-container{
        grid-column: 1 / 3;
    }

    iframe{ /*=====MAP=======*/
        width: 478px;
        height: 370px ;
        margin: 9px;
    }


/*====================== FOOTER ==========================*/
    footer{
        width: 1200px;
    }

    footer p{
        line-height: 40px;
        text-align: left;
    }
}